- content_for :head do
    = stylesheet_link_tag "tracks/new"

#track-creation-wizard.wizard
    .wizard-title
        %h1
            Create a fresh new track
    .wizard-body
        - @model.errors.full_messages.each do |msg|
            %p.error= msg
        = form_for @model do |f|
            %section{'data-bind' => 'visible:step() == 0'}
                = f.label :title, 'I would like to explore : '
                = f.text_field :title, placeholder: 'eg. Ruby on Rails'
            %section{'data-bind' => 'visible: step() == 1'}
                = f.label :description, 'Add a small description for your track (Optional)', class: 'blk'
                = f.text_area :description
            %section{'data-bind' => 'visible: step() == 2'}
                = f.label :visibility, 'Who can view the track'
                .select-wrapper
                    = f.select :visibility, [['Only me', 'private'], ['Me and people I share with', 'restricted'], ['Any user', 'public'], ['Anyone including anonymous guests and search engines', 'open']]
            %section{'data-bind' => 'visible: step() == 3'}
                = f.label :contributability, 'Who can contribute to the track?'
                .select-wrapper
                    = f.select :contributability, [['Only me', 'private'], ['Me and people I share with', 'restricted'], ['Allow users to contribute suggestions', 'permissive'], ['Any user', 'public']]
                %br
                = f.submit 'Create', class: 'pure-button pure-button-primary final'
    .wizard-footer
        .pagination-wrapper
            / ko if: step() > 0 
            .pure-button.pure-button-secondary{'data-bind' => 'click:decrStep'}
                Previous
            / /ko
            / ko if: step() < 3
            .pure-button.pure-button-primary{'data-bind' => 'click:incrStep'}
                Next
            / /ko
= javascript_include_tag "tracks/new"
