%h1#track-wrapper
  %span#track-title-label Track: 
  %span#track-title= @track.title
#timeline
  #spine
  #milestones
    %ul#milestone-list{'data-bind' => "foreach: milestones"}
      %li
        .thumb
        .pointer
        %h1{'data-bind' => "text: title"}
        %div
          %p{'data-bind' => 'text: description'}

    %ul#pseudo-milestone-list
      %li{'data-bind' => 'with: newMilestone'}
        .thumb
        .pointer
        %h1{'data-bind' => 'inlineEditable: title'}
          .default
            New milestone (Click to edit)
        %div{'data-bind' => 'inlineBoxEditable: description'}
          .default
            Description of this milestone goes here (Click to edit)
        .controls
          %a.pure-button.pure-button-primary{'data-bind' => 'click: save'} Save

= javascript_include_tag "tracks/show"
%script
  != "app.viewModels.track = new dx.Track(#{@track.to_json});"
  - @track.milestones.each do |m|
    != "app.viewModels.milestones.push(new dx.Milestone(#{m.to_json}));"
  - @track.learning_resources.each do |l|
    != "app.viewModels.learningResources.push(new dx.LearningResource(#{l.to_json}));"
  ko.applyBindings(app.viewModels);
