- content_for :head do
    = stylesheet_link_tag 'home/dashboard_new', media: :all
    = javascript_include_tag "home/dashboard"

/
    - if @enrollments.length == 0
        = render partial: 'introduction'

#sidebar
    #user-info
        %h2= current_user.name
    %h1 Updates
#main
    %header
        .rfloat
            %input#search-box
        %h1 Your tracks
    .body
        %ul#tracks
            %li.track#new-track
                = link_to "Create a track", controller: 'tracks', action: 'new'
            - @enrollments.each do |en|
                %li.track
                    %header
                        %h1= link_to en.track.title, en.track
                    .body= en.track.description
                    .milestones-outer-wrapper
                        .milestones-wrapper
                            - if en.track.milestones.length == 0
                                .zilch-msg
                            - i = 0
                            %ul.milestones
                                - en.track.milestones.each do |milestone|
                                    %li
                                        - if @achievements[milestone.id].nil?
                                            %span.ach-incomplete
                                        - else
                                            %span.ach-complete
                                            - i += 1
                                        %span.title= milestone.title
                    .achievement-summary
                        .nums
                            %span.ach-count= i
                            = " / "
                            %span.milestone-count= en.track.milestones.length
                        Milestones Completed
