- content_for :head do
  = stylesheet_link_tag 'home/dashboard', media: :all
  = javascript_include_tag "home/dashboard"

- if @tracks.length == 0
  = render partial: 'introduction'
- else
  #tracks-container
    - @tracks.each do |track|
      .track-wrapper
        .track-inner
          %header
            %h3= track.title
          .body
            %h4 Upcoming milestones
            None
          %footer
            = link_to 'View Track', controller: 'tracks', action: 'show', id: track.id
