- content_for :head do
    = stylesheet_link_tag 'home/dashboard_new', media: :all
    = javascript_include_tag "home/dashboard"

/
    - if @enrollments.length == 0
        = render partial: 'introduction'

#sidebar
    #user-info
        %h2= current_user.name
    %h1 Updates
#main
    %header
        .rfloat
            %input#search-box
        %h1 Your tracks
    .body
        %ul#tracks
            %li.track#new-track
                = link_to "Create a track", controller: 'tracks', action: 'new'
            - @enrollments.each do |en|
                %li.track
                    %header
                        %h1= link_to en.track.title, en.track
                    .body= en.track.description
                    - i = 0
                    - first = nil
                    %ul.milestones
                        - en.track.milestones.each do |milestone|
                            %li
                                - if @achievements[milestone.id].nil?
                                    %span.ach-incomplete
                                - else
                                    - first = milestone if first.nil?
                                    %span.ach-complete
                                    - i += 1
                                %span.title= milestone.title
                    .achievement-summary
                        %a.num-thumb
                            %span.ach-count= i
                            = " / "
                            %span.milestone-count= en.track.milestones.length
                        Milestones Completed
                    .upcoming-summary
                        - if first.nil?
                            %p.zilch
                                No upcoming milestone
                        - else
                            %h2 Next milestone
                            %h3= first.title
                            %p= first.description
