!!!
%html
  %head
    %title Dexterous
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = yield :head if content_for? :head
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:400,100", media: 'all'
  %body
    .notice= notice
    .alert= alert

    = content_for?(:content) ? yield(:content) : yield
