!!!
%html
  %head
    %title Dexterous
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "#{controller.controller_name}/#{controller.action_name}"
    = csrf_meta_tags
    = yield :head if content_for? :head
  %body
    %p.notice= notice
    %p.alert= alert

    = content_for?(:content) ? yield(:content) : yield
