!!!
%html
  %head
    %title Dexterous
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = yield :head if content_for? :head
  %body
    .notice= notice
    .alert= alert

    = content_for?(:content) ? yield(:content) : yield
